body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
a:hover {
    text-decoration: underline;
    color: #0f0f10;
}
#rightimage {
    height : 150px;
    width: 150px;
}
#editpicture {
    height: 200px;
    width : 200px;
}